<section class="hero-content">
   <h1 class="hero-title">HoneyDew</h1>
   <h3 class="hero-sizzle">Get Your To-do list done.</h3>
</section>
<section class="selling-points container clearfix">
   <div class="point col-md-4">
       <span class="glyphicon glyphicon-pencil"></span>
       <h5 class="point-title">Create a list</h5>
       <p class="point-description">No limits, no worries.</p>
   </div>
   <div class="point col-md-4">
       <span class="glyphicon glyphicon-list-alt"></span>
       <h5 class="point-title">Add tasks</h5>
       <p class="point-description">Keep notes and deadlines at your fingertips.</p>
   </div>
   <div class="point col-md-4">
       <span class="glyphicon glyphicon-check"></span>
       <h5 class="point-title">Keep track</h5>
       <p class="point-description">Completed tasks are cleared away.</p>
   </div>
</section>
