<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="title">
      <h1>Honeydew</h1>
    </div>
    <div class="sizzle">
      <ul class="sizzle-list">
        <li><h2>Get</h2></li>
        <li><h2>Your TO-DO lists</h2></li>
        <li><h2>Done</h2></li>
      </ul>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 selling-points">
    <h2>Keep Track</h2>
    <p>Never forget an important deadline again.</p>
  </div>
  <div class="col-md-4 selling-points">
    <h2>Stop. Collaborate</h2>
    <p>Listen, you can share lists with anyone - family, friends, or co-workers.</p>
  </div>
  <div class="col-md-4 selling-points">
    <h2>Auto clean</h2>
    <p>Tasks are deleted past the deadline given to them. No need to clean up old items from your list!</p>
  </div>
</div>

<%= render "devise/shared/links" %>
