// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#listNameField {
  position: absolute;
  bottom: 15px;
  border: none;
  color: rgb(200, 200, 200);
}

.list-name-field {
  font-size: 18px;
  background: rgba(20, 20, 20, .1);
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: rgb(37, 112, 137);
  outline: none;
  text-align: center;
}

.list-name-field:hover,
.list-name-field:focus,
.list-name-field:active {
  background: rgba(220, 220, 220, .7);
  color: black;
}


.list-name {
  display: inline-block;
}

.list-header-name-edit {
  border: none;
  background: transparent;
  width: 250px;
}

.new-list {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 20px;
  border: none;
  background: transparent;
  color: rgb(200, 200, 200);
}


.list-header-nav {
  font-size: 20px;
}

.list-label{
  display: inline-block;
}

.lists-header{
  display: inline-block;
  width: 100%
}

.list-label{
    padding-left: 10px;
}

.list-list{
  padding: 0px;
  list-style-type: none;
}

.lists-menu{
  width: 20%;
}
